body {
    margin: 0;
    font-family: "Radio Canada", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vw;
}

code {
    font-family: "Radio Canada", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
